@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

input {
  color-scheme: dark;
}
:root {
  .rdp {
    --rdp-accent-color: #bef264;
    --rdp-background-color: #3f3f46;
    --rdp-selected-color: #1a2e05;
  }
}
